



.box{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
  
  }
  
  .bx{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #578FEE;
    margin: 20px;
    color: white;
    font-size: 30px;
  }
  
  .cr{
    width: 300px;
    height: 150px;
    border-radius: 15px;
    background-color: #E1E4EF;
    display: flex;
    flex-direction: column;
    border: solid 5px #578FEE;
    
  }
  .tit{
    
    height: 60%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 30px;
    font-weight: 600;
  }
  
  .ic{
    display: flex;
    height: 40%;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
  }
  
  .hola{
    font-size: 30px;
  }
  
  .lock{
    background-color: #FF7B8C;
    padding: 10px;
    border-radius: 50px;
  }

  .lock0{
    background-color: #D68526;
    padding: 10px;
    border-radius: 50px;
  }